/client/node_modules
/client/node_modules/@mui/base
/server/node_modules
/client/package-lock.json
/server/package-lock.json
/server/socketTestFront/package-lock.json
/server/socketTestFront/package.json

# Treat specific files and directories as binary (no line ending conversion)
*.jpg binary
*.png binary
node_modules/ binary
node_modules/
/Usocket/